body{
	background-color: lightgrey;
}
h1{
	color:red;font-size: 33px;text-decoration: overline;
}
h2{
	color:blue; font-size: 22px;
}

#fist{
	text-decoration: underline;
}

.smaller{
	font-size: 15px; color: black;
}
span{
	font-style: italic;
}

h2 span{
	font-size: 44px; text-decoration: line-through;
}